body{
font-family:sans-serif;
text-align:center;
background:#f5f5f5;
}

button,a{
display:block;
width:90%;
margin:10px auto;
padding:20px;
font-size:20px;
border-radius:10px;
background:#2c7be5;
color:white;
text-decoration:none;
border:none;
}

.card{
background:white;
padding:15px;
margin:10px;
border-radius:10px;
}

.timeline-item{
background:white;
padding:15px;
margin:10px;
border-radius:10px;
}